Repository nmstate/nmstate, pull requests merged in 2025-08, with the labels that each got.

#2943 query_apply: ethernet: ignore speed when auto-negotiation is true
  rust/src/lib/query_apply/ethernet.rs
  rust/src/lib/unit_tests/ethernet.rs
Labels: needs-ok-to-test

#2955 bond: followup for PR 2832
  rust/src/lib/ifaces/bond.rs
  rust/src/lib/unit_tests/bond.rs
Labels: ok-to-test

#2953 nispor: delete ip addr not in desired state
  rust/src/lib/nispor/apply.rs
  rust/src/lib/nispor/ip.rs
  tests/integration/static_ip_address_test.py
Labels: ok-to-test

#2967 route: Introduce `state: ignore` for route
  rust/src/lib/query_apply/net_state.rs
  rust/src/lib/query_apply/route.rs
  rust/src/lib/route.rs
  rust/src/python/libnmstate/schema.py
  tests/integration/nm/route_test.py
  tests/integration/route_test.py
Labels: Wait_Review
